@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import "../../app.scss";

.navbar {
    height: 100px;
    // background-color: #fff;

    .wrapper {
        // background: #000;
        max-width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 18px;
        height: 100%;

        @include mobile {
            padding-left: 50px;
        }

        .logo {
            font-family: "Parisienne", cursive;
            font-size: 30px;
            font-weight: bold;
            margin: auto;

            @include mobile {
                font-size: 20px;
            }

            span {
                color: #fca311;
            }
        }

        .social {
            display: flex;
            gap: 10px;
            font-size: 16px;

            @include mobile {
                flex-direction: column;
                gap: 5px;
                position: absolute;
                top: 5px;
                right: 5px;
                z-index: 10;
            }
        }
    }
}