.card {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 300px;
    height: 265px;
    cursor: pointer;


    .wrapper {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        h3 {
            letter-spacing: 5px;
            color: #fca311;
            font-weight: 900;
        }

    }
}